<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="col-xs-6">
      <h1 class="poc_title">Client Assessment Tool</h1>
    </div>
    <div class="col-xs-6 home">
      <a href="/" class="btn btn-primary btn-lg home-btn" role="button" aria-pressed="true">Start Over</a>
    </div>

  </div>

</nav>
