
<div class="container">
  <h1>Select the Clients Issue Type</h1>
  <div class="row">
      <div class="col-md-3">
        <div class="square-service-block">
           <a href="/fences">
             <h2 class="ssb-title">Fences</h2>
           </a>
        </div>
      </div>

      <div class="col-md-3">
        <div class="square-service-block">
           <a href="#">
             <h2 class="ssb-title">Trees</h2>
           </a>
        </div>
      </div>

      <div class="col-md-3">
        <div class="square-service-block">
           <a href="#">
             <h2 class="ssb-title">Behaviour</h2>
           </a>
        </div>
      </div>

      <div class="col-md-3">
        <div class="square-service-block">
           <a href="#">
             <h2 class="ssb-title">PSIO</h2>
           </a>
        </div>
      </div>

      <div class="col-md-3">
        <div class="square-service-block">
           <a href="#">
             <h2 class="ssb-title">Incorporated Associations</h2>
           </a>
        </div>
      </div>
    </div>
  </div>
